<form class="example-form">

</form>
<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <img src="http://via.placeholder.com/1080x2000" />
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="input-field-container">
      <mat-form-field>
        <input matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password">
      </mat-form-field>
      <div class="buttons">
        <button mat-raised-button color="primary" routerLink="/admin"> Admin</button>
        <button mat-raised-button color="primary" routerLink="/home"> Sign In</button>
        <button mat-raised-button color="primary" routerLink="/home"> Sign Up</button>
      </div>
    </div>


  </mat-grid-tile>
</mat-grid-list>
