<mat-toolbar color="primary" >
  <mat-toolbar-row class="mat-elevation-z6">
    <!-- <span class="example-spacer"></span> -->
    <!-- <button mat-menu-item [matMenuTriggerFor]="menu">
    </button> -->
    <button mat-button routerLink="/home">Faz-Track</button>
    <!-- <button mat-button routerLink="/sign">Sign In</button> -->
    <button mat-button routerLink="/weight">Track Weight</button>
    <!-- <button mat-button routerLink="/order-history">Order History</button> -->

  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
