<div class="favorite-container">
  <mat-card *ngFor="let x of [1,2,3]"class="example-card">
    <img mat-card-image src="http://placehold.it/300x300" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <h3>Food</h3>
      <h5>Tags: Keto, Low Carb</h5>
      <span>$5.99</span>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">Add</button>
      <button mat-button color="primary">Unfavorite</button>
    </mat-card-actions>
  </mat-card>

</div>
