
<div class="history-container">

  <div *ngFor="let x of [1,2,3,4,5,6]"class="history-item">
    <img src="http://placehold.it/150x150" alt="">
    <div class="information">
      <div class="info-column">
        <h1 class="mat-title">Ordered: Jan 1, 2016</h1>
        <p>Price: 4.99$</p>
        <button mat-raised-button color="primary">Add</button>
      </div>
      <div class="info-column">
        <h1 class="mat-subheading-1">Items</h1>

        <p>Chuleta: $6.00</p>
        <p>Milkshake: $4.99</p>

      </div>




    </div>

  </div>
</div>
