/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
  background: #fafafa;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 12px;
}

mat-card {
  margin: 0px 30px 10px 30px;
}

.title{
  margin: 10px 0 10px 10px;
  padding: 0 10px 0 10px;
}
.title > h2{
  font-size: 3em;

}
